.alert-text {
    color: rgb(214, 39, 39)
}
* {
    background-color: lightgoldenrodyellow
}
*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
ol,
li{
    text-align: left;
}