*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    display: flex;
    color: azure;
    background-color: blue;
    padding: 20px;

}
.main-paragraph{
    border: 1px solid #fff;  /* For debugging */
    width: 900px;
}
.goals{
    border: 1px solid #fff;  /* For debugging */
    width: 900px;
}
.welcome{
    text-align: center;
}
